/* General Styles */
.full-match-history {
  padding: 20px;
  font-size: 1.1rem; /* Increase overall text size slightly */
}

.history-title {
  margin-bottom: 20px;
  font-size: 1.5rem; /* Increase title size */
  text-align: center; /* Center-align the title */
}

.match-table {
  background-color: #f8f9fa; /* Default background for the table */
}

.match-table .winner-section {
  background-color: #e7f0ff; /* Light blue background for winners section */
  text-align: center;
}

.match-table .loser-section {
  background-color: #f8d7da; /* Light red background for losers section */
  text-align: center;
}

.match-table th, .match-table td {
  text-align: center; /* Center-align headers and cells */
}

.match-table td {
  vertical-align: middle;
}

.match-table td strong {
  font-size: 1.2rem; /* Increase font size for ELO change */
}

.username {
  font-size: 1.2rem; /* Increase font size for usernames */
  font-weight: bold; /* Bold usernames */
}

.score-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem; /* Increase font size of the score */
}

.match-date {
  font-style: italic; /* Italicize date for emphasis */
  font-size: 1rem; /* Adjust font size to fit nicely */
  margin-top: 5px; /* Add margin above the date */
}

.match-row:hover {
  background-color: #e9ecef; /* Slightly darker background on hover */
}

.date-row {
  background-color: transparent; /* No additional background */
  border-top: none; /* No border on top */
}

/* Mobile View Styles */
@media (max-width: 767.98px) {
  .d-md-none {
    display: block !important;
  }
  
  .d-none {
    display: none !important;
  }

  /* Mobile Table */
  .mobile-match-row {
    display: flex;
    flex-direction: row;
    padding: 8px;
    border-bottom: 1px solid #dee2e6;
    align-items: center;
    background-color: #ffffff;
  }

  .mobile-winner-section, .mobile-score-section, .mobile-loser-section {
    flex: 1;
    text-align: center;
  }

  .mobile-winner-section {
    background-color: #e7f0ff; /* Light blue background for winners section */
  }

  .mobile-score-section {
    background-color: #ffffff; /* White background for score section */
  }

  .mobile-loser-section {
    background-color: #f8d7da; /* Light red background for losers section */
  }
}
