.user-profile {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.profile-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
}

.profile-username {
    font-size: 2em;
    margin: 0;
}

.profile-elo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 200px;
    margin-left: auto;
}

.profile-elo {
    margin: 0;
    font-size: 1.5em;
}

.win-percentage-chart {
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 10px;
}

.win-percentage-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    font-weight: bold;
}

.user-details {
    margin-top: 20px;
    font-size: 1.1em;
}

  .table-custom .date-section {
    font-size: 1rem;
    font-style: italic;
  }

/* Mobile view adjustments */
@media (max-width: 768px) {
    .profile-header {
        flex-direction: column;
        align-items: center; /* Center align items */
    }

    .profile-picture {
        width: 100px;
        height: 100px;
        margin: 0 auto; /* Center align the picture */
    }

    .profile-info {
        align-items: center;
        margin-top: 10px;
        height: auto; /* Remove fixed height */
    }

    .profile-username {
        font-size: 1.5em;
    }

    .profile-elo-container {
        margin-left: 0;
    }

    .user-details {
        font-size: 1.1em;
    }

    .win-percentage-chart {
        position: relative;
        width: 80px;
        height: 80px;
        margin-top: 10px;
    }
}

.error-message {
    color: red;
    font-weight: bold;
}

.loading-message {
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
    cursor: pointer;
    font-size: 1em;
  }
  
  .pagination button.active {
    background-color: #4171d6;
    color: white;
  }
  
  .pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .pagination button:hover:not(:disabled) {
    background-color: #ddd;
  }
  
  
  
  
  
  
  
  
  