.form-container {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border-radius: 8px;
  background-color: #ffffff; /* Light background to mimic form-container in login */
}

.form-header {
  margin-bottom: 1rem;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

.submit-button {
  width: 100%;
}

.action-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.text-danger {
  font-size: 0.875rem;
  color: #dc3545; /* Bootstrap's danger color */
  margin-top: 0.25rem;
}

.custom-dropdown-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.custom-dropdown-button img {
  width: 50px; /* Size of the preview image */
  height: 50px;
  margin-right: 10px;
}

.custom-dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1;
  width: 100%;
  max-height: 200px; /* Adjust as needed */
  overflow-y: auto;
}

.custom-dropdown-menu.show {
  display: block;
}

.custom-dropdown-item {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.custom-dropdown-item img {
  width: 200px; /* Size of the preview image */
  height: 200px;
  margin-right: 10px;
}

.custom-dropdown-item:hover {
  background-color: #f0f0f0;
}

.table-custom .winner-section {
  background-color: #d5e3ff;
  color:#4171d6;
  font-size: 1.3rem;
}

.table-custom .loser-section {
  background-color: #ffd8d9;
  color:#e84057;
  font-size: 1.3rem;
}
  
.table-custom .score-section {
  background-color: #ffffff;
  font-size: 1.4rem;
}
  
.table-custom .date-section {
  font-size: 1rem;
  font-style: italic;
}
  
.error-message {
  color: #dc3545;
}
  
.username {
  font-size: 1rem;
  font-weight: bold;
}